.portfolioComponent {
    height: 100vh;
    display: flex;
    padding-top: 125px;
    padding-bottom: 50px;
}

.portfolioNav {
    height: 100%;
    width: clamp(250px, 20vw, 20vw);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
    border: 1px solid white;
    color: white;
}

.portfolioDisplay {
    height: 100%;
    width: 100%;
    border: 1px solid white;
}

.portfolioItemTitle {
    overflow: hidden;
}

.portfolioItemTitle {
    cursor:pointer;
}