@import '../assets/theme.css';

.portfolioComponent {
    height: 100vh;
    display: flex;
    padding-top: 125px;
    padding-bottom: 50px;
}

.portfolioNav {
    height: 100%;
    width: clamp(250px, 20vw, 20vw);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid white;
    color: white;
}

.portfolioDisplay {
    height: 100%;
    width: 100%;
    border: 1px solid white;
}

.portfolioItemTitle {
    overflow: hidden;
    cursor: pointer;
    font-family: var(--description-font);
    font-size: 1.1em;
    padding: 15px;
    border-radius: 25px;
    transition: all 0.25s ease-in;
}

.portfolioItemTitle:hover,
.selected {
    background-color: var(--light);
    color: var(--red-hue);
    font-weight: bold;
}