@import '../assets/theme.css';

.contactComponent {
    height: 100vh;
    padding-top: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 50px;
    font-family: var(--heading-font);
    font-size: 1.5em;
    position: relative;
}

.contactItem {
    border: 3px solid var(--light);
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    cursor:pointer;
    font-weight: bold;
    transition: all 0.25s ease-in;
}

.contactItem:hover {
    color: var(--red-hue);
    background-color: var(--light);
    border: 3px solid var(--dark-purple);
}