* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    max-width: 100%;
}

body {
    min-height: 100vh;
    background-color: var(--dark);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


section {
    height: 100vh;
}

/*Intersection Observer styling section*/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-200px);
    transition: all 1s;
}

.in-viewport {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}