@import '../assets/theme.css';
.sky,
.sun,
.mountain,
.forest,
.birds{
    max-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    user-select: none;
    pointer-events: none; 
    -moz-user-select: none; 
    -webkit-user-drag: none; 
}

.firstSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.secondSection {
    position: relative;
    padding: 100px;
    background: var(--dark);
}

.secondTitle {
 font-size: 3.5em;
 margin-bottom: 10px;
 color: white;
}

.secondParagraph {
    font-size: 1.2em;
    color: white;
}

.sun {
    mix-blend-mode: screen;
    top: -6%;
}

.birds {
    top: -20%;
    left: -30%;
    z-index: 12;
}

.mountain {
    top: 14%;
}

.forest {
    z-index: 10;
}

.firstSection::before {
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--dark), transparent);
    z-index: 1000;
}